node_modules
package-lock.json
yarn.lock
models/*
!models/.gitkeep
./build/**
**build**
dist
.DS_Store
/release-builds/
*systemCore/src/release-builds*
**_venv*
**.vscode**
**release-build*
**tmp-reposync*
**repoworkspace*
**installed.flag*
**code_query**
**code_queue**
**.DS_Store**
**presistentInteractionMem**
**.temporaryChunkModel**
**specLM**
**generalLM**
**pythonBridgeRuntime**
**universalPrompt.txt**
**.log**
**.lock**
*.log
systemCore/main.log
systemCore/error.log
systemCore/storage/presistentInteractionMem.json
**conda_python_modules**
**nodeLocalRuntime**
**enginemain/build**
**.gguf**
**build**
systemCore/nodeLocalRuntime
**/*Mem.json
**/*.log
**/*engineInteraction.db**
systemCore/storage/foreverEtchedFirstHandExperienced.json
builder-tool/autoEasySetup/Adelaide Zephyrine Charlotte.app
systemCore/storage/UMA_State.json
systemCore/storage/
systemCore/engine_component/generalReintegrationPyWorkstationEnv/LLMReintegrationExperiment/**
systemCore/engine_component/ReintegrationModelEnv/referenceCode_NvidiaExclusive/**
systemCore/bin/**/*.make
systemCore/vendor/**
systemCore/bin/*_*/**
**sync-conflict**
systemCore/bin/**/*make*
*.exp
!example.exp
systemCore/bin/universalBinarySystemPrompt.txt
**syncthing**
systemCore/engine_component/ModelReintegration/datasetPool/nonSFT_UMA_dataset.txt
systemCore/engine_component/ModelReintegration/datasetPool/SFT_Interaction_Instruction_dataset.txt
systemCore/*.gguf
systemCore/engine_component/ModelReintegration/*Fragment* 
systemCore/engine_component/ModelReintegration/*quicksave*
systemCore/precalculatedLLMChildslightlyFastJump.state
systemCore/raw_smallLanguageModel.bin
systemCore/slightlyFastJump.state
systemCore/evolved_smallLanguageModel.bin
systemCore/Penalties
systemCore/mirostat
systemCore/bin/llmchildDynamicPromptSpill.tmp
systemCore/bin/llmchildDynamicPromptSpill.tmp
systemCore/raw_smallLanguageModel.gguf.bin

systemCore/engineMain/build/CMakeFiles/CMakeConfigureLog.yaml
