node_modules
package-lock.json
yarn.lock
models/*
!models/.gitkeep
./build/**
dist
.DS_Store
/release-builds/
*usr/src/release-builds*
**release-build*
**tmp-reposync*
**repoworkspace*
**installed.flag*
**code_query**
**code_queue**
**.DS_Store**
**presistentInteractionMem**
presistentInteractionMem.json
**.temporaryChunkModel**
**specLM**
**generalLM**
**universalPrompt.txt**