[submodule "llama.cpp"] 
  path = usr/vendor/llama.cpp
  url = https://github.com/ggerganov/llama.cpp
  branch = main
  commit = 99d29c0094476c4962023036ecd61a3309d0e16b
[submodule "ggllm.cpp"] 
  path = usr/vendor/ggllm.cpp
  url = https://github.com/cmp-nct/ggllm.cpp
[submodule "ggml"] 
  path = usr/vendor/ggml
  branch = main
  commit = 9d05810
  url = https://github.com/ggerganov/ggml
[submodule "llama-gguf.cpp"] 
  path = usr/vendor/llama-gguf.cpp
  url = https://github.com/ggerganov/llama.cpp